.section {
    padding: 4rem 0;
}

.heading {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--color-text);
    position: relative;
}

.heading::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--color-brown);
    margin: 1rem auto 0;
}